#conteneur_right_layout{
background-color:#3D3B3B;
}
#conteneur_left_layout{
background-color:#94633b;
padding:0px;
}
#main_layout{
    background-color:#efefef;
    border:none;
}
.product_name{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:600;
    color:white;
}
.date, .product{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:600;
    color:white;
}
.grand_total{
    font-family:"Tahoma", sans-serif;
    font-size:16px;
    font-weight:600;
    color:white;
}

.quantite_kg_unite{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}
.quantite_vendu{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}
.quantite_restants{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}
.prix_d_achat{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}
.prix_de_vente{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}
.total_vendu{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}
.total_non_vendu{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:500;
    color:white;
}

.restants{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:400;
    color:white;

}

.total_vendue{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:400;
    color:white;
}

.total_non_vendue{
    font-family:'Tahoma', sans-serif;
    font-size:16px;
    font-weight:400;
    color:white;
}
.edit_quantite_kg_unite{
    border-radius:5px;
    border:2px solid rgba(76,76, 76, 0.7);
}
.edit_quantite_vendu{
    border-radius:5px;
    border:2px solid rgba(76,76, 76, 0.7);
}
.edit_prix_de_vente{
    border-radius:5px;
    border:2px solid rgba(76,76, 76, 0.7);
}
.edit_prix_d_achat{
    border-radius:5px;
    border:2px solid rgba(76,76, 76, 0.7);
}
.edit_quantite_kg_unite:focus{
    border:2px solid #2EC903;
    border-radius:4px;
}
.edit_quantite_vendu:focus{
    border:2px solid #2EC903;
    border-radius:4px;
}
.edit_prix_de_vente:focus{
    border:2px solid #2EC903;
    border-radius:4px;
}
.edit_prix_d_achat:focus{
    border:2px solid #2EC903;
    border-radius:4px;
}
.epuise{
 color:#f76151;
 font-size:18px;
 border:1px solid #f76151;
}
.finis{
    border:none;
}